.u-section-1 .u-sheet-1 {
  min-height: 571px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 12.5rem;
  line-height: 1;
  margin: 96px -32px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1145px;
  height: auto;
  margin: -236px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  row-gap: 10px;
  column-gap: 10px;
  min-height: 271px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  margin: 5px -32px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 10rem;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 10.625rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 6.25rem;
    margin-top: 60px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 778px;
}

.u-section-2 .u-line-1 {
  position: absolute;
  top: 112px;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 666px;
  right: 218px;
}

.u-section-2 .u-line-2 {
  position: absolute;
  top: 110px;
  left: auto;
  border-style: solid;
  transform-origin: center bottom;
  height: 680px;
  right: 180px;
}

.u-section-2 .u-line-3 {
  position: absolute;
  top: 107px;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 671px;
  right: 142px;
}

.u-section-2 .u-line-4 {
  position: absolute;
  top: 109px;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 669px;
  right: 104px;
}

.u-section-2 .u-shape-1 {
  width: 135px;
  height: 107px;
  margin: 5px 103px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 318px;
  height: 74px;
  margin: 113px 238px 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -63px 218px 0 614px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 44px auto 0 43px;
}

.u-section-2 .u-shape-3 {
  width: 333px;
  height: 333px;
  margin: -45px 237px 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 570px;
  height: 228px;
  margin: -281px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 361px;
  height: 325px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -292px 256px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: -219px 666px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    left: 952px;
    right: 18px;
    margin-top: 0;
    width: 20px;
  }

  .u-section-2 .u-line-2 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-2 .u-line-3 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-2 .u-line-4 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 203px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 39px;
    margin-right: 338px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 318px;
    margin-left: 514px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 91px;
    margin-left: 143px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -39px;
    margin-right: 337px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -280px;
    margin-left: 100px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 356px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 603px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    left: 700px;
    right: 0;
  }

  .u-section-2 .u-line-2 {
    left: 700px;
  }

  .u-section-2 .u-line-3 {
    left: 700px;
  }

  .u-section-2 .u-line-4 {
    left: 700px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 313px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: auto;
    margin-left: 374px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 365px;
    margin-left: 467px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 253px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: auto;
    margin-left: 360px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 210px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: 313px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 493px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    left: 520px;
  }

  .u-section-2 .u-line-2 {
    left: 520px;
  }

  .u-section-2 .u-line-3 {
    left: 520px;
  }

  .u-section-2 .u-line-4 {
    left: 520px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 403px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 404px;
    margin-left: 493px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 343px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -25px;
    margin-left: 300px;
  }

  .u-section-2 .u-shape-4 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-right: 403px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-2 .u-line-1 {
    left: 320px;
  }

  .u-section-2 .u-line-2 {
    left: 320px;
  }

  .u-section-2 .u-line-3 {
    left: 320px;
  }

  .u-section-2 .u-line-4 {
    left: 320px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: auto;
    margin-left: 502px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 447px;
    margin-left: 482px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 443px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -12px;
    margin-left: 400px;
  }

  .u-section-2 .u-shape-4 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 306px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -200px;
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 778px;
}

.u-section-3 .u-line-1 {
  position: absolute;
  top: 0;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 781px;
  right: 218px;
}

.u-section-3 .u-line-2 {
  position: absolute;
  top: 0;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 783px;
  right: 180px;
}

.u-section-3 .u-line-3 {
  position: absolute;
  top: 0;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 779px;
  right: 142px;
}

.u-section-3 .u-line-4 {
  position: absolute;
  top: -1px;
  left: auto;
  border-style: solid;
  transform-origin: center top;
  height: 783px;
  right: 104px;
}

.u-section-3 .u-shape-1 {
  width: 379px;
  height: 74px;
  margin: 225px 238px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -63px 248px 0 523px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 44px auto 0 43px;
}

.u-section-3 .u-shape-2 {
  width: 333px;
  height: 333px;
  margin: -45px 237px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 570px;
  height: 228px;
  margin: -280px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 361px;
  height: 325px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -299px 248px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -212px 666px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    left: 952px;
    right: 18px;
    margin-top: 0;
    width: 20px;
  }

  .u-section-3 .u-line-2 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-3 .u-line-3 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-3 .u-line-4 {
    left: 920px;
    right: 0;
    margin-top: 0;
    width: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 151px;
    margin-right: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 318px;
    margin-left: 423px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 91px;
    margin-left: 143px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -39px;
    margin-right: 337px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 356px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 603px;
    margin-left: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    left: 700px;
    right: 0;
  }

  .u-section-3 .u-line-2 {
    left: 700px;
  }

  .u-section-3 .u-line-3 {
    left: 700px;
  }

  .u-section-3 .u-line-4 {
    left: 700px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
    margin-left: 374px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 365px;
    margin-left: 467px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 253px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: auto;
    margin-left: 360px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 210px;
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: 313px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 493px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    left: 520px;
  }

  .u-section-3 .u-line-2 {
    left: 520px;
  }

  .u-section-3 .u-line-3 {
    left: 520px;
  }

  .u-section-3 .u-line-4 {
    left: 520px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 300px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 404px;
    margin-left: 493px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 343px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -25px;
    margin-left: 300px;
  }

  .u-section-3 .u-shape-3 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 403px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3 .u-line-1 {
    left: 320px;
  }

  .u-section-3 .u-line-2 {
    left: 320px;
  }

  .u-section-3 .u-line-3 {
    left: 320px;
  }

  .u-section-3 .u-line-4 {
    left: 320px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 447px;
    margin-left: 482px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 443px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -12px;
    margin-left: 400px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 306px;
    margin-left: 400px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -193px;
    margin-left: 400px;
    margin-right: 400px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 78px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    margin-top: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 734px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 598px;
  margin: 55px auto 0;
}

.u-section-5 .u-table-1 {
  margin: 38px auto 55px 0;
}

.u-block-0713-49 {
  background-image: none;
}

.u-section-5 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-5 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
}

.u-section-5 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-5 .u-table-cell-10 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-11 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-12 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-5 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-22 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.u-block-0713-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-table-cell-12 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-table-cell-10 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-table-cell-11 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-table-cell-12 {
    font-size: 1.5rem;
  }
}