.u-section-1 .u-sheet-1 {
  min-height: 120px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 21px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-group-1 {
  width: 779px;
  --radius: 20px;
  height: auto;
  min-height: 308px;
  margin: 165px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-2 .u-shape-1 {
  height: 99px;
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  width: 181px;
  height: 181px;
  margin: -140px auto 0 52px;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: -170px auto 0 63px;
}

.u-section-2 .u-text-1 {
  font-family: SVQ-Justa;
  font-size: 3.75rem;
  margin: -113px 0 0 248px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  margin: 52px 234px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -108px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 189px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    font-size: 3rem;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    margin-top: 60px;
    min-height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 147px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -246px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -171px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 7px;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 90px;
    margin-right: auto;
  }
}@font-face {
  font-family: 'SVQ-Justa';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SVQ-Justa.ttf);
}